//META{"name":"NieR-Automata","description":"Generated Automatically using https://0x71.cc/bd/theme | Original theme [BasicBackground] made by DevilBro","author":"0x71, DevilBro","version":"1.0.4"}*//

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

:root {
    --transparencycolor: 0,0,0;		/* default: 0,0,0 */
    --transparencyalpha: 0.15;		/* default: 0.15 */
    --messagetransparency: 0.5;		/* default: 0.5 */
    --guildchanneltransparency: 0.15;	/* default: 0.15 (additional darkness for guild/channel list can be changed in case a bright background makes the list hard to read) */
    --memberlistransparency: 0;		/* default: 0 (additional darkness for member list can be changed in case a bright background makes the list hard to read)*/
    --accentcolor: 145,175,85; 		/* default: 190,78,180 discord: 114,137,218 bd-blue: 58,113,193*/
    --background: url("https://vgy.me/dsGK49.png"); /* replace the link in url() with your own direct image link to change the background */
    --backdrop: rgba(0,0,0,0.4);	/* default: rgba(0,0,0,0.4) can also be changed to an image like --background */
}
